/* Forside: Container - opret lejeaftale*/
.container-primary {
  background-color: rgb(229, 229, 229); /* light grey */
  margin-top: 15px;
  margin-left: 40px;
  height: 30%;
  width: 30%;
  border-radius: 10px; /* rounded corners */
}

/* Forside: Container - opret skaderaport*/
.container-secondary {
  background-color: rgb(229, 229, 229); /* light grey */
  margin-top: 15px;
  margin-right: 50px;
  height: 30%;
  width: 30%;
  border-radius: 10px; /* rounded corners */
}

/* Forside: Container - Rapportering og overvågning*/
.container-third {
  background-color: rgb(229, 229, 229); /* light grey */
  margin-top: 15px;
  margin-right: 50px;
  height: 30%;
  width: 30%;
  border-radius: 10px; /* rounded corners */
}

/* Forside: de 3 container bredde */
.col-2 {
  width: 20px;
}

/* Forside: overskrift størrelse på de 2 øverste containers*/
h1 {
  font-size: 30px;
}

/* Menu bar - Bilabonnement intern / menu farve*/
.navbar.navbar-default {
  background-color: black;
  height: 55px;
  width: 100%;
}

/* Menu bar - Bilabonnement intern / tekst farve */
.navbar.navbar-default .navbar-brand,
.navbar.navbar-default .btn {
  color: white;
}

/* Sidebar farve */
.sidenav {
  height: 93.5%;
  width: 55px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  background-color: rgb(80, 140, 188);
  padding-top: 10%;
}

/* "Opret lejeaftale" knap farve*/
.container-primary .btn {
  background-color: rgb(80, 140, 188);
  color: #fff;
}

/*"Opret skaderapport" knap farve */
.container-secondary .btn {
  background-color: rgb(80, 140, 188);
  color: #fff;
}

/*"Rapportering og overvågning" knap farve */
.container-third .btn {
  background-color: rgb(80, 140, 188);
  color: #fff;
}

/*"Opret lejeaftale" knap og billede placering: */
.image-size {
  width: 100%;
  height: 400px;
  border-radius: 10px; /* rounded corners */
}

.btn-overlay {
  /*position: absolute;*/
  bottom: 50px;
  left: 130px;
  z-index: 0;
}

/*#ListOfAvailableCars*/
.outer-container {
  display: flex;
}

/* Container for .car-container */
.container-gray {
  background-color: rgb(231, 229, 229);
  padding: 20px;
  text-align: center;
  max-width: 1450px; /* Tilpas bredden efter dine ønsker */
  margin: 0 auto; /* Centrerer containeren */
  border-radius: 10px;
}

/* Container for "ledige biler" og "udlejede biler" "*/
.car-container {
  background-color: #fff;
  padding: 20px;
  width: 50%; /* Deler bredden i halvdelen */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  border-radius: 10px; /* Tilføjelse af afrundede kanter */
  margin: 10px; /* Tilføjelse af mellemrum mellem containere */
}

/* Titel - Ledige biler #ListOfAvailableCars og "Lejeaftaler - #createSubscription/Chevrolet, AB 12345 */
.inner-container,
.damage-headline {
  margin: 20px;
  text-align: left; /* Placerer teksten til venstre */
}

/* Ydre container for "ledige biler" og "udlejede biler"*/
.outer-container {
  background-color: transparent;
  display: flex;
  justify-content: center;
}

/* Fjerner prikker på listen af ledige biler */
.car-list {
  list-style: none;
}

/* Mellemrum mellem listen af ledige biler */
.car-list-item {
  padding: 8px 0;
}

/* Liste af "Udlejdede biler" */
.rented-car-list p:nth-of-type(1) {
  font-size: 24px;
}
.rented-car-list p:nth-of-type(2) {
  font-size: 35px;
}
.rented-car-list p:nth-of-type(3) {
  font-size: 16px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.rented-car-list p:nth-of-type(n + 3) {
  font-size: 16px;
}

/* Liste af "Ledige biler" */
.car-list p:nth-of-type(1) {
  font-size: 24px;
  color: black;
  text-decoration: none;
}

.car-list p:nth-of-type(2) {
  font-size: 35px;
  color: black;
  text-decoration: none;
}

.car-list p:nth-of-type(3) {
  font-size: 16px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.car-list-item a {
  color: black !important;
  text-decoration: none;
}

/*#createSubscription*/
/* "Abonnementsinformation" og "Kunde information" og "bil information" - container */
.container-around-lease-container {
  background-color: #ffffff;
  width: 200%; /* Deler bredden i halvdelen */
  border-radius: 10px;
}

.lease-container {
  background-color: #fff;
  padding: 20px;
  width: 70%; /* Deler bredden i halvdelen */
  /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  text-align: left;
  border-radius: 10px; /* Tilføjelse af afrundede kanter */
  margin: 10px; /* Tilføjelse af mellemrum mellem containere */
  font-size: 14px;
}

/* Grå boks med reminder - "påmindelse" */
.reminder-list {
  background-color: rgb(231, 229, 229);
  padding: 20px;
  width: 50%; /* Deler bredden i halvdelen */
  /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  text-align: left;
  border-radius: 10px; /* Tilføjelse af afrundede kanter */
  margin: 10px; /* Tilføjelse af mellemrum mellem containere */
}

/* "Lejeaftaler" container */
.container {
  background-color: rgb(231, 229, 229);
  padding: 20px;
  text-align: left;
  max-width: 1450px; /* Tilpas bredden efter dine ønsker */
  margin: 0 auto; /* Centrerer containeren */
  border-radius: 10px;
}

/* Runde hjørner til knap */
.button-cornors {
  border-radius: 8px;
}

/*#createDamageReport*/
.container-around-damage-report {
  background-color: #fff;
  width: 100%; /* Deler bredden i halvdelen */
  border-radius: 10px;
}

.outer-container {
  background-color: rgb(255, 255, 255);
  padding: 50px;
  text-align: start;
  width: 90%; /* Tilpas bredden efter dine ønsker */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-right: 950px;
  margin-left: 20px;
  border-radius: 10px; /* rounded corners */
}

/* Hvide bokse med informationer */
.outer-damage-raport-small-containers {
  background-color: rgb(231, 229, 229);
  padding: 25px;
  text-align: left;
  max-width: 450px; /* Tilpas bredden efter dine ønsker */
  margin: 0 auto; /* Centrerer containeren */
  border-radius: 10px; /* rounded corners */
}

/* Hvide bokse med informationer */
.inner-damage-raport-small-containers {
  background-color: rgb(255, 255, 255);
  padding: 25px;
  text-align: left;
  max-width: 450px; /* Tilpas bredden efter dine ønsker */
  margin: 0 auto; /* Centrerer containeren */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* CustomDropdown.css */
.custom-dropdown {
  background-color: rgba(0, 0, 0, 0.1);
  color: black; /* Tekstfarven */
}

/* inputfelter i createSubscription */
.form-control {
  background-color: rgba(0, 0, 0, 0.1);
  width: fit-content;
}

.btn.btn-primary {
  background-color: rgb(80, 140, 188);
}

.subscription-container h1 {
  font-size: 24px; /* Juster størrelsen efter dit behov */
}

/* Tekst størrelse for 'abonnementer' i Skade og udbedring */
.subscription-title {
  margin-right: 900px;
  font-size: 20px;
  text-align: left;
}

.editDamageReport-btn {
  background-color: rgb(224, 203, 42);
  color: #fff;
  width: 210px;
  height: 40px;
  border-radius: 10px;
  border-color: rgb(224, 203, 42);
  margin-top: 20px;
}

.createDamageReport-btn {
  background-color: rgb(94, 188, 80);
  color: #fff;
  width: 210px;
  height: 40px;
  border-radius: 10px;
  border-color: rgb(94, 188, 80);
  margin-top: 20px;
}
.deleteDamageReport-btn {
  background-color: rgb(188, 80, 80);
  color: #fff;
  width: 210px;
  height: 40px;
  border-radius: 10px;
  border-color: rgb(188, 80, 80);
  margin-top: 20px;
}

#subscriptionDropdown {
  margin-right: 900px;
  border-radius: 10px;
  background-color: #fff;
  width: 210px;
  height: 40px;
  border-color: #fff;
  margin-bottom: 10px;
  float: left;
}

.damage-containers {
  font-size: large;
  margin-right: 800px;
}

.damageReport-btn {
  background-color: rgb(229, 229, 229);
  border-color: rgb(229, 229, 229);
  width: 210px;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.linkColor {
  color: #fff;
}

.alignText {
  text-align: left;
  width: 150px;
}

.update-sub-btn {
  background-color: rgb(224, 203, 42);
  color: #fff;
  width: 210px;
  height: 40px;
  border-radius: 10px;
  border-color: rgb(224, 203, 42);
  margin-top: 20px;
}
