/* Container - opret lejeaftale*/
.container-primary {
  background-color: rgb(231, 229, 229); /* Red color */
  margin-left: 80px; /* Same width as .sidenav */
}

/* Container - opret skaderaport*/
.container-secondary {
  background-color: rgb(231, 229, 229); /* Black color */
  margin-left: 60px; 
}

/* Menu bar - Bilabonnement intern / menu farve*/
.navbar.navbar-default {
  background-color: black; 
  height: 60px; 
  width: 100%; 
}

/* Menu bar - Bilabonnement intern / tekst farve */
.navbar.navbar-default .navbar-brand,
.navbar.navbar-default .btn {
  color: white; 
}

/* Sidebar farve */
.sidenav {
  height: 92.8%;
  width: 60px;
  position: fixed;
  z-index: 1;
  bottom: 0; 
  background-color: rgb(80, 140, 188);
  padding-top: 10%; 
}

/* "Opret lejeaftale" knap farve*/
.container-primary .btn {
  background-color: rgb(80, 140, 188); 
  color: #fff; 
}

/*"Opret skaderapport" knap farve */
.container-secondary .btn {
  background-color: rgb(80, 140, 188); 
  color: #fff; 
}

/*"Opret lejeaftale" knap og billede placering: */
.image-size {
  width: 80%; 
  height: auto; 
}

.btn-overlay {
  position: absolute;
  bottom: 50px; 
  left: 130px; 
  z-index: 0; 
}



/* Container til "Ledige aftaler" - grå baggrund */
.container-gray {
  background-color: rgb(231, 229, 229); 
  padding: 20px; 
  text-align: center; 
}

/* Titel */
.inner-container {
  margin: 20px; 
  
}

/* Ydre container */
.outer-container {
  background-color: transparent; 
  display: flex;
  justify-content: center;
}

/* Container til listen af biler - hvid baggrund */
.car-container {
  background-color: #fff; 
  padding: 20px; 
  width: 50%; 
  height: 50%; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  position: relative;
  right: 20%; 
  text-align: left;
}

.car-list {
  list-style: none;
  padding-left: 0;
  text-align: left;
  color: black; 
}

.car-list-item {
  padding: 8px 0; 
}
