/* Container - opret lejeaftale*/
.container-primary {
  background-color: rgb(229, 229, 229); /* light grey */
  margin-top: 15px;
  margin-left: 75px;
  height: 40%;
  width: 40%;
  border-radius: 10px; /* rounded corners */
}

/* Container - opret skaderaport*/
.container-secondary {
  background-color: rgb(229, 229, 229); /* light grey */
  margin-top: 15px;
  margin-right: 75px;
  height: auto;
  width: auto;
  border-radius: 10px; /* rounded corners */
}

.container-rentedCars,
.container-notRentedCars,
.container-totalPrice {
  background-color: rgb(229, 229, 229); /* light grey */
  margin-top: 15px;
  margin-right: 75px;
  height: 20%;
  width: 20%;
  border-radius: 10px; /* rounded corners */
}

.col-2 {
  width: 20px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 15px;
}

/* Menu bar - Bilabonnement intern / menu farve*/
.navbar.navbar-default {
  background-color: black;
  height: 55px;
  width: 100%;
}

/* Menu bar - Bilabonnement intern / tekst farve */
.navbar.navbar-default .navbar-brand,
.navbar.navbar-default .btn {
  color: white; /* Hvid farve på teksten "Bilabonnement intern */
}

/* Sidebar farve */
.sidenav {
  height: 92.8%;
  width: 55px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  background-color: rgb(80, 140, 188);
  padding-top: 10%; /* Adjust padding to take the top 10% space */
}

/* "Opret lejeaftale" knap farve*/
.container-primary .btn {
  background-color: rgb(80, 140, 188);
  color: #fff;
}

/*"Opret skaderapport" knap farve */
.container-secondary .btn {
  background-color: rgb(80, 140, 188);
  color: #fff;
}

/*"Opret lejeaftale" knap og billede placering: */
.image-size {
  width: 100%;
  height: auto;
  border-radius: 10px; /* rounded corners */
}

.btn-overlay {
  position: absolute;
  bottom: 50px;
  left: 130px;
  z-index: 0;
}
