/* Container - opret lejeaftale*/
.container-primary {
  background-color: rgb(229, 229, 229); /* light grey */
  margin-top: 15px;
  margin-left: 75px;
  height: 40%;
  width: 40%;
  border-radius: 10px; /* rounded corners */
}

/* Container - opret skaderaport*/
.container-secondary {
  background-color: rgb(229, 229, 229); /* light grey */
  margin-top: 15px;
  margin-right: 75px;
  height: auto;
  width: auto;
  border-radius: 10px; /* rounded corners */
}

/* Containers - de tre nederste */
.container-rentedCars,
.container-notRentedCars,
.container-totalPrice {
  background-color: rgb(229, 229, 229); /* light grey */
  margin-top: 15px;
  margin-right: 75px;
  height: 20%;
  width: 20%;
  border-radius: 10px; /* rounded corners */
}

.col-2 {
  width: 20px;
}

/* overskrift størrelse på de 2 øverste containers*/
h1 {
  font-size: 30px;
}

/* overskrift størrelse på de 3 nederste containers*/
h2 {
  font-size: 15px;
}

/* Menu bar - Bilabonnement intern / menu farve*/
.navbar.navbar-default {
  background-color: black;
  height: 55px;
  width: 100%;
}

/* Menu bar - Bilabonnement intern / tekst farve */
.navbar.navbar-default .navbar-brand,
.navbar.navbar-default .btn {
  color: white; 
}

/* Sidebar farve */
.sidenav {
  height: 92.8%;
  width: 55px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  background-color: rgb(80, 140, 188);
  padding-top: 10%; 
}

/* "Opret lejeaftale" knap farve*/
.container-primary .btn {
  background-color: rgb(80, 140, 188);
  color: #fff;
}

/*"Opret skaderapport" knap farve */
.container-secondary .btn {
  background-color: rgb(80, 140, 188);
  color: #fff;
}

/*"Opret lejeaftale" knap og billede placering: */
.image-size {
  width: 100%;
  height: auto;
  border-radius: 10px; /* rounded corners */
}

.btn-overlay {
  position: absolute;
  bottom: 50px;
  left: 130px;
  z-index: 0;
}

/*#ListOfAvailableCars*/
.outer-container {
  display: flex;
}

/* Container for .car-container */
.container-gray {
  background-color: rgb(231, 229, 229);
  padding: 20px;
  text-align: center;
  max-width: 1450px; /* Tilpas bredden efter dine ønsker */
  margin: 0 auto; /* Centrerer containeren */
  border-radius: 10px;
}

/* Container for "ledige biler" og "udlejede biler" "*/
.car-container {
  background-color: #fff; 
  padding: 20px; 
  width: 50%; /* Deler bredden i halvdelen */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  text-align: left;
  border-radius: 10px; /* Tilføjelse af afrundede kanter */
  margin: 10px; /* Tilføjelse af mellemrum mellem containere */
}

/* Titel - Ledige biler #ListOfAvailableCars og "Lejeaftaler - #createSubscription/Chevrolet, AB 12345 */
.inner-container {
  margin: 20px;
  text-align: left; /* Placerer teksten til venstre */
}


/* Ydre container for "ledige biler" og "udlejede biler"*/
.outer-container {
  background-color: transparent; 
  display: flex;
  justify-content: center;
}

/* Fjerner prikker på listen af ledige biler */
.car-list {
  list-style: none;
}

/* Mellemrum mellem listen af ledige biler */
.car-list-item {
  padding: 8px 0; 
}

/* Liste af "Udlejdede biler" */
.rented-car-list p:nth-of-type(1) {
  font-size: 24px; 
}
.rented-car-list p:nth-of-type(2) {
  font-size: 35px; 
}
.rented-car-list p:nth-of-type(3) {
  font-size: 16px;
  color: black; 
  text-decoration: none; 
  font-weight: bold; 
}
.rented-car-list p:nth-of-type(n+3) {
  font-size: 16px; 
}

/* Liste af "Ledige biler" */
.car-list p:nth-of-type(1) {
  font-size: 24px;
  color: black; 
  text-decoration: none; 
}

.car-list p:nth-of-type(2) {
  font-size: 35px;
  color: black; 
  text-decoration: none; 
}

.car-list p:nth-of-type(3) {
  font-size: 16px;
  color: black; 
  text-decoration: none; 
  font-weight: bold; 
}

.car-list-item a {
  color: black !important;
  text-decoration: none; 
}




/*#createSubscription*/
/* "Abonnementsinformation" og "Kunde information" og "bil information" - container */
.container-around-lease-container{
  background-color: #fff; 
  width: 200%; /* Deler bredden i halvdelen */
  border-radius: 10px;
}

.lease-container {
  background-color: #fff; 
  padding: 20px; 
  width: 50%; /* Deler bredden i halvdelen */
  /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  text-align: left;
  border-radius: 10px; /* Tilføjelse af afrundede kanter */
  margin: 10px; /* Tilføjelse af mellemrum mellem containere */
}

/* Grå boks med reminder - "påmindelse" */
.reminder-list {
  background-color: rgb(231, 229, 229);
  padding: 20px; 
  width: 50%; /* Deler bredden i halvdelen */
  /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  text-align: left;
  border-radius: 10px; /* Tilføjelse af afrundede kanter */
  margin: 10px; /* Tilføjelse af mellemrum mellem containere */
}


/* "Lejeaftaler" container */
.container {
  background-color: rgb(231, 229, 229);
  padding: 20px;
  text-align: left;
  max-width: 1450px; /* Tilpas bredden efter dine ønsker */
  margin: 0 auto; /* Centrerer containeren */
  border-radius: 10px;
}
